@charset "utf-8";
img{
	width: 50%;
	height: 50%;
}

#show1{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide1{
	display: none;
	margin-left:20px;
}

#show2{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide2{
	display: none;
	margin-left:20px;
}

#show3{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide3{
	display: none;
	margin-left:20px;
}

#show4{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide4{
	display: none;
	margin-left:20px;
}

#show5{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide5{
	display: none;
	margin-left:20px;
}

#show6{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}

#hide6{
	display: none;
	margin-left:20px;
}

#show7{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}


#hide7{
	display: none;
	margin-left:20px;
}

#show8{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}


#hide8{
	display: none;
	margin-left:20px;
}

#show9{
	background-color: #6182a3;
	border: 5px solid #99CCFF;
	border-radius: 5px;
	color: #ffffff;
	width:200px;
	margin-left:20px;
	text-align:center;
}


#hide9{
	display: none;
	margin-left:20px;
}